{% extends 'base.html' %}
{% load static %}
{% block body %}
  



<!-- Page Title START -->
<div class="page-title jarallax black-overlay-20" data-jarallax data-speed="0.6" style="background-image:url('/static/site_static/20.jpg');">
	<div class="container">
		<h1>Nos Services</h1>
		<ul>
			<li><a href="">Acceuil</a></li>
			<li><a href="">Nos Services</a></li>
			
		</ul>
	</div>
</div>
<!-- Page Title END -->



<!-- Blog Post START -->
<div class="section-block">
	<div class="container">
		<div class="row">
			<!-- Left Side START -->
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="blog-post">
					
				
					
					<p><h5 id="a"><span  class="italic libre-baskerville primary-color">Dentisterie Générale</span></h5></br>Notre équipe de dentistes et d’hygiénistes procède
						 à des examens dentaires de routine qui incluent la prise de radiographies, de photos, le détartrage, le polissage ou plus en fonction de vos besoins. Certains 
						 patients ont besoin d’être suivis plus souvent que d’autres dépendamment de 
						 leur condition buccale, que ce soit aux 4 mois, 6 mois, 9 mois ou 1 an.</p>
					<blockquote>
						<h6>Services offerts:</h6>
						<div class="row">
							
							<div class="col-md-6 col-sm-6 col-12">
								
								<ul class="primary-list">
									<li><i class="fa fa-check-square"></i>Examen dentaire</li>
									<li><i class="fa fa-check-square"></i>Nettoyage Dentaire</li>
									<li><i class="fa fa-check-square"></i>Radiographies</li>
									<li><i class="fa fa-check-square"></i>scellement des puits  et fissures</li>
									<li><i class="fa fa-check-square"></i>soins de caries</li>
								</ul>
							</div>
		
							<div class="col-md-6 col-sm-6 col-12">
								<ul class="primary-list">
									<li><i class="fa fa-check-circle"></i>Extractions</li>
									<li><i class="fa fa-check-circle"></i>Plaques occlusales</li>
									<li><i class="fa fa-check-circle"></i>Blanchiments</li>
									<li><i class="fa fa-check-circle"></i>Appareils de ronflement</li>
								</ul>
							</div>					
						</div>
					</blockquote>
					<div class="owl-carousel owl-theme customizable-carousel mt-30" data-loop="true" data-items="3"  data-md-items="3" data-sm-items="2" data-xs-items="1" data-space="15" data-autoplay="true" data-autospeed="4000" data-nav-dots="false" data-nav-arrows="true">
						<div class="item">
                            <img src="{% static 'site_static\9.jpg' %}" alt="img">
						</div>
						<div class="item">
							<img src="{% static 'site_static\11.jpg' %}" alt="img">
						</div>	
						<div class="item">
							<img src="{% static 'site_static\12.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\13.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\15.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\16.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\20.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\2.jpg' %}" alt="img">
						</div>	
						<div class="item">
							<img src="{% static 'site_static\2.png' %}" alt="img">
						</div>						
					</div>
					<p><h5 id="a"><span class="italic libre-baskerville primary-color">Orthodontie</span></h5></br>Nous offrons un service d’orthodontie à la clinique. 
						Nous faisons le dépistage des malocclusions aux examens et nettoyages de 
						routine. Chez les patients nécessitant des traitements orthodontique, un 
						rendez-vous d’évaluation spécifique permet au dentiste de déterminer les 
						techniques appropriées et leurs séquences.
						Lorsque c’est indiqué, nous offrons également la technologie Invisalign,
						 qui permet de corriger l’alignement des dents grâce à des coquilles transparentes
						 .</p>	
						 <blockquote>
							<h6>Services offerts:</h6>
							<div class="row">
								
								<div class="col-md-6 col-sm-6 col-12">
									
									<ul class="primary-list">
										<li><i class="fa fa-check-square"></i>Mainteneurs d’espaces</li>
										<li><i class="fa fa-check-square"></i>Appareils orthopédiques</li>
										
									</ul>
								</div>
			
								<div class="col-md-6 col-sm-6 col-12">
									<ul class="primary-list">
										<li><i class="fa fa-check-circle"></i>Orthodontie fixe</li>
										<li><i class="fa fa-check-circle"></i>Invisalign</li>
										
									</ul>
								</div>					
							</div>
						</blockquote>
					<div class="owl-carousel owl-theme customizable-carousel mt-30" data-loop="true" data-items="3"  data-md-items="3" data-sm-items="2" data-xs-items="1" data-space="15" data-autoplay="true" data-autospeed="4000" data-nav-dots="false" data-nav-arrows="true">
						<div class="item">
							<img src="{% static 'site_static\4.jpg' %}" alt="img">
						</div>
						<div class="item">
							<img src="{% static 'site_static\77.jpg' %}" alt="img">
						</div>	
						<div class="item">
							<img src="{% static 'site_static\12.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\122.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\123.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\16.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\20.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\2.jpg' %}" alt="img">
						</div>	
						<div class="item">
							<img src="{% static 'site_static\2.png' %}" alt="img">
						</div>										
					</div>	
					<p><h5 id="c"><span class="italic libre-baskerville primary-color">Prothése Dentaire</h5></br>
						Nous offrons des traitements de Prothése Dentaire, tels les couronnes, les ponts, les facettes 
						et les couronnes sur implants.</br>
						<strong>1-Les Facettes:</strong>sont des minces coquilles faites de porcelaine recouvrant le devant des dents décolorées, usées ou malformées.
						Elles permettent de redonner un sourire esthétique au goût du patient.</br>
						<strong> 2-Inlay / Onlay:</strong>
                          sont des obturations dentaires en céramique, en composite (résine), en métal ou en métal précieux 
						(en or par exemple). Ils remplacent les plombages et les couronnes en métal.</br>
						<strong>3-Couronne:</strong>est recommandée lorsque la dent est trop endommagée par la carie ou une fracture, 
						et ne peut pas supporter une obturation en composite ou en amalgame. La couronne recouvre complèt
						ement la dent et est faite de porcelaine ou d’un mélange porcelaine-métal, des matériaux solides et 
						durables.</br>
						<strong>4-Le Bridge:</strong>est une structure fixe semblable à une couronne, mais qui permet de remplacer une dent manquante
						 en se servant des dents voisines à l’espace pour le combler.</br>
						<strong> 5-Prothése sur implants:</strong>La prothèse sur implants est un traitement qui permet à un patient avec des dents manquantes d’obtenir
						  une solution dentaire très stable. Nous pouvons poser de 2 à 4 implants sur le maxillaire (l’os de la mâchoire) inférieur et de
					      4 à 6 implants sur le maxillaire supérieur.</br>
						<strong>6-Prothése Amovible: </strong>Les prothèses dentaires amovibles sont des appareils destinés à remplacer des dents manquantes (autrefois 
						appelées "dentier"). Elles peuvent être complètes ou partielles selon le nombre de dents absentes. Le Dr Christophe Lequart, 
						chirurgien-dentiste explique tout ce qu'il faut savoir sur leur rôle, leurs indications, leur entretien.  

			           </p>	
					   <blockquote>
						<h6>Services offerts:</h6>
						<div class="row">
							
							<div class="col-md-6 col-sm-6 col-12">
								
								<ul class="primary-list">
									<li><i class="fa fa-check-square"></i>Facettes</li>
									<li><i class="fa fa-check-square"></i>Inlay/onlay</li>
							
									<li><i class="fa fa-check-square"></i>Couronnes</li>
								
							
								</ul>
							</div>
		
							<div class="col-md-6 col-sm-6 col-12">
								<ul class="primary-list">
									
									<li><i class="fa fa-check-square"></i>Bridges</li>
									<li><i class="fa fa-check-square"></i>Prothése sur implants</li>
									<li><i class="fa fa-check-square"></i>Prothése Amovible</li>
								
							
								</ul>
							</div>					
						</div>
					</blockquote>			
					<div class="owl-carousel owl-theme customizable-carousel mt-30" data-loop="true" data-items="3"  data-md-items="3" data-sm-items="2" data-xs-items="1" data-space="15" data-autoplay="true" data-autospeed="4000" data-nav-dots="false" data-nav-arrows="true">
						<div class="item">
                            <img src="{% static 'site_static\9.jpg' %}" alt="img">
						</div>
						<div class="item">
							<img src="{% static 'site_static\11.jpg' %}" alt="img">
						</div>	
						<div class="item">
							<img src="{% static 'site_static\12.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\13.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\15.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\16.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\20.jpg' %}" alt="img">
						</div>		
						<div class="item">
							<img src="{% static 'site_static\2.jpg' %}" alt="img">
						</div>	
						<div class="item">
							<img src="{% static 'site_static\2.png' %}" alt="img">
						</div>	
					</div>	
					<p><h5 id="d"><span class="italic libre-baskerville primary-color">Endodontie</span></h5></br>Le traitement de canal est nécessaire lorsque la pulpe de
						 la dent est enflammée et/ou infectée par des bactéries, suite à une carie volumineuse ou à 
						 un traumatisme.Contrairement à la croyance populaire, le traitement de canal 
						 est une procédure qui est sans douleur dans la grande majorité des cas. Le 
						 dentiste ouvre la dent, désinfecte le ou les canaux et remplit à l’aide d’un 
						 matériau de scellement. Il est souvent recommandé de poser une couronne ou un overlay par la
						  suite en raison de la fragilité de la dent.
						 .</p>	
						 <blockquote>
							<h6>Services offerts:</h6>
							<div class="row">
								
								<div class="col-md-6 col-sm-6 col-12">
									
									<ul class="primary-list">
										<li><i class="fa fa-check-square"></i>Traitements de canal</li>
									
										
									</ul>
								</div>
							
							</div>
						</blockquote>		
						<div class="owl-carousel owl-theme customizable-carousel mt-30" data-loop="true" data-items="3"  data-md-items="3" data-sm-items="2" data-xs-items="1" data-space="15" data-autoplay="true" data-autospeed="4000" data-nav-dots="false" data-nav-arrows="true">
							<div class="item">
                                <img src="{% static 'site_static\9.jpg' %}" alt="img">
                            </div>
                            <div class="item">
                                <img src="{% static 'site_static\11.jpg' %}" alt="img">
                            </div>	
                            <div class="item">
                                <img src="{% static 'site_static\12.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\13.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\15.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\16.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\20.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\2.jpg' %}" alt="img">
                            </div>	
                            <div class="item">
                                <img src="{% static 'site_static\2.png' %}" alt="img">
                            </div>					
						</div>	
						<p><h5 id="e"><span class="italic libre-baskerville primary-color">Parodontie</span></h5></br>
							Les maladies de gencives sont souvent méconnues et passent malheureusement inaperçues 
							chez beaucoup de personnes. La parodontite atteint environ 50% de la population. Si elle 
							n’est pas correctement diagnostiquée et traitée, elle se dégrade progressivement et mène
							 bien souvent à la perte des dents. Plusieurs facteurs sont en cause, soit une mauvaise 
							 hygiène buccale, l’absence de visites régulières chez le dentiste, le tabagisme et le 
							 diabète. Cette maladie peut être à l’origine de douleurs, d’abcès, de mauvaise haleine,
							  de mobilités dentaires. Une gingivite non traitée évolue tôt ou tard en parodontite.

                            Nous faisons le dépistage des maladies de gencives à tous les examens et nettoyages de
							 nos patients et nous
                          prescrivons le traitement approprié par la suite. Un beau sourire commence par la santé 
						  des gencives.</p>	
						   <blockquote>
							<h6>Services offerts:</h6>
							<div class="row">
								
								<div class="col-md-6 col-sm-6 col-12">
									
									<ul class="primary-list">
										<li><i class="fa fa-check-square"></i>Traitements de maladies de gencives (surfaçages, curetages)</li>
										<li><i class="fa fa-check-square"></i>Greffes gingivales</li>
								
									</ul>
								</div>
			
								<div class="col-md-6 col-sm-6 col-12">
									<ul class="primary-list">
										<li><i class="fa fa-check-circle"></i>Frénectomies</li>
										
								
									</ul>
								</div>					
							</div>
						</blockquote>	
						<div class="owl-carousel owl-theme customizable-carousel mt-30" data-loop="true" data-items="3"  data-md-items="3" data-sm-items="2" data-xs-items="1" data-space="15" data-autoplay="true" data-autospeed="4000" data-nav-dots="false" data-nav-arrows="true">
							<div class="item">
                                <img src="{% static 'site_static\9.jpg' %}" alt="img">
                            </div>
                            <div class="item">
                                <img src="{% static 'site_static\11.jpg' %}" alt="img">
                            </div>	
                            <div class="item">
                                <img src="{% static 'site_static\12.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\13.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\15.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\16.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\20.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\2.jpg' %}" alt="img">
                            </div>	
                            <div class="item">
                                <img src="{% static 'site_static\2.png' %}" alt="img">
                            </div>											
						</div>
						<p><h5 id="f"><span class="italic libre-baskerville primary-color"> Pédodontie</span></h5></br>Nous accueillons les enfants de tous âges.
							 Habituellement le tout premier rendez-vous est vers l’âge de 1 an, soit environ 
							 6 mois après l’apparition des premières dents. Ce rendez-vous sert à habituer l’enfant 
							 très tôt au dentiste, à informer les parents sur les bonnes habitudes et à intercepter
							  les problèmes rapidement. En raison du développement rapide des enfants, il est recommandé 
							  d’avoir des suivis aux 6 mois.
							.</p>	
							<blockquote>
							   <h6>Services offerts:</h6>
							   <div class="row">
								   
								   <div class="col-md-6 col-sm-6 col-12">
									   
									   <ul class="primary-list">
										   <li><i class="fa fa-check-square"></i>Examens dentaires</li>
										   <li><i class="fa fa-check-square"></i>Nettoyages dentaires</li>
										   <li><i class="fa fa-check-square"></i>Radiographies</li>
									   
									   
										   
									   </ul>
								   </div>
								   <div class="col-md-6 col-sm-6 col-12">
									<ul class="primary-list">
										<li><i class="fa fa-check-circle"></i>scellement des puits  et fissures</li>
										<li><i class="fa fa-check-circle"></i>Obturations</li>
										<li><i class="fa fa-check-circle"></i>les coiffes pédodontiques</li>
								
									</ul>
								</div>
							   
							   </div>
						   </blockquote>		
						   <div class="owl-carousel owl-theme customizable-carousel mt-30" data-loop="true" data-items="3"  data-md-items="3" data-sm-items="2" data-xs-items="1" data-space="15" data-autoplay="true" data-autospeed="4000" data-nav-dots="false" data-nav-arrows="true">
							<div class="item">
                                <img src="{% static 'site_static\9.jpg' %}" alt="img">
                            </div>
                            <div class="item">
                                <img src="{% static 'site_static\11.jpg' %}" alt="img">
                            </div>	
                            <div class="item">
                                <img src="{% static 'site_static\12.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\13.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\15.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\16.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\20.jpg' %}" alt="img">
                            </div>		
                            <div class="item">
                                <img src="{% static 'site_static\2.jpg' %}" alt="img">
                            </div>	
                            <div class="item">
                                <img src="{% static 'site_static\2.png' %}" alt="img">
                            </div>						
						</div>
				</div>			
			
			</div>
			<!-- Left Side END -->

			<!-- Right Side START -->
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="blog-post-right">
	            	

	            	<h4>Spécialités</h4>
	            	<div class="blog-post-categories mt-20">
	            		<ul>
	            			<li><a href="#a">Dentisterie Générale</a></li>
	            			<li><a href="#b">Orthodontie</a></li>
	            			<li><a href="#c">Prothése Dentaire</a></li>
	            			<li><a href="#d">Endodontie</a></li>
	            			<li><a href="#e">Parodontie</a></li>
	            			<li><a href="#f">Pédodentie</a></li>
	            			
	            		</ul>
	            	</div>


	            	<h4>Share Links</h4>
	            	<div class="blog-post-follow mt-20">
	            		<ul>
	            			<li class="social-facebook"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
	            			<li class="social-youtube">  <a target="_blank" href=""><i class="fab fa-instagram"></i></a></li>
								
									
								
							
				
							
						
	            		</ul>
	            	</div>
				</div>
			</div>
			<!-- Right Side END -->
		</div>
	</div>
</div>	
<!-- Blog Post END -->

{% endblock body %}
